@model InvoiceListView;

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <a asp-action="Index" class="btn btn-outline-success float-end mb-3">New Invoice</a>
    </div>
    <div class="col-md-12">
        <div class="table-responsive mt ">
            <table id="invoicelist" class=" table align-middle table-nowrap table-centered mb-0">
                <thead>
                    <tr>
                        <th style="width: 70px;">Invoice No.</th>
                        <th>Customer</th>
                        <th>Invoice Date</th>
                        <th>Amount</th>
                        <th class="text-end" style="width: 250px;"></th>
                    </tr>
                </thead><!-- end thead -->
                <tbody>
                    @{
                        var index = 1;
                        foreach (var item in Model.Invoices)
                        {
                            <tr>
                                <td>
                                    <div>
                                        <h5 class="text-truncate font-size-14 mb-1" data-id="@item.InvoiceId">@item.InvoiceNo</h5>
                                    </div>
                                </td>
                                <td>@item.PartyName</td>
                                <td>@item.InvoiceDate</td>
                                <td>@item.TotalAmount</td>
                                <td class="text-end">
                                    <span>
                                        <a class="btn btn-primary" asp-action="EditInvoice" asp-route-id="@item.InvoiceId">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </span>
                                    <span>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#@item.InvoiceNo">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                    <span>
                                        <a class="btn btn-info" asp-action="ViewInvoice" asp-route-invoiceNo="@item.InvoiceId">
                                            <i class="fa fa-eye" aria-hidden="true"></i>

                                        </a>
                                    </span>

                                    <!-- Modal -->
                                    <div class="modal fade" id="@item.InvoiceNo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Invoice : @item.InvoiceNo</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Do you want to delete the invoice?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <a class="btn btn-danger" asp-action="DeleteInvoice" asp-route-id="@item.InvoiceId">Delete</a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            index++;
                        }
                    }
                </tbody><!-- end tbody -->
            </table><!-- end table -->
        </div><!-- end table responsive -->

    </div>
</div>



@section Scripts{

    <script>
        $(document).ready(function () {

            $('#invoicelist').DataTable({
                searching: true, // Enable searching
            });

            var message = '@ViewBag.msg';

            if (message != "") {
                alert(message);
            }
        });
    </script>
}
